* {
  font-family: Arial, Helvetica, sans-serif;
}


@media (min-width: 280px) and (max-width: 768px) {
  body {
    background: rgba(132, 145, 168, 0.2)
  }
  
  h1 {
    text-align: center;
    margin: 1.2rem auto;
    color: rgb(241, 233, 229)  !important;
    background-color: rgb(49, 103, 173);
    border-radius: 15px;
    padding: 1rem;
    width: 22rem;
  }
  
  img {
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pokemons-geral {
    border: 2px solid rgb(255, 255, 255);
    width: 12rem;
    box-shadow: 3px 3px 8px 3px rgba(128, 46, 114, 0.5);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    margin: 2.5rem auto;
    text-align: center;
    border-radius: 2rem;
    flex-wrap: wrap;
    background-color: rgba(88, 64, 175, 0.5);
  }
  
  .pokemons {
    text-align: center;
    display: flex;
    width: 10rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

  }
  
  .pokemon-mew , .pokemon-pikachu, .pokemon-charmander, .pokemon-caterpie, .pokemon-ekans, .pokemon-rapidash, .pokemon-snorlax{
    text-decoration: none;
    padding: 0.8rem;
    background-color: #069;
    margin: 0.6rem;
    color: white;
    font-weight: bold;
    border-radius: 6px;
  }
  
  footer {
    margin-top: 5.5rem;
    text-align: center;
    color: rgb(58, 79, 173);
    font-weight: bold;
  }
  
  
  .pokemon-mew:hover , .pokemon-pikachu:hover, .pokemon-charmander:hover, .pokemon-caterpie:hover, .pokemon-ekans:hover, .pokemon-rapidash:hover, .pokemon-snorlax:hover {
    background-color: #0095f5;
    transition: 0.6s;
  }
  
  .poke-estilo {
    font-size: 1.2rem;
    color: seashell;
    text-align: center;
  }
  
  .poke-estilo-span {
    color: seashell;
    padding: 5px;
    padding-right: 9px;
    padding-left: 15px;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.2);
    font-size: 1rem;
  }
  
  .button-random:hover {
    background-color:rgb(160, 95, 95)
  }
}

@media (min-width: 769px) {
  body {
    background: rgba(132, 145, 168, 0.2)
  }
  
  h1 {
    text-align: center;
    margin: 1.2rem auto;
    color: rgb(180, 141, 113);
    background-color: rgb(49, 103, 173);
    border-radius: 15px;
    padding: 1rem;
    width: 22rem;
  }
  
  img {
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pokemons-geral {
    border: 5px solid rgb(255, 255, 255);
    width: 26rem;
    box-shadow: 3px 3px 8px 3px rgba(128, 46, 114, 0.5);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem auto;
    text-align: center;
    border-radius: 2rem;
    background-color: rgba(88, 64, 175, 0.5);
  }
  
  .pokemons {
    text-align: center;
    margin-top: 3rem;
  }
  
  .pokemon-mew , .pokemon-pikachu, .pokemon-charmander, .pokemon-caterpie, .pokemon-ekans, .pokemon-rapidash, .pokemon-snorlax{
    text-decoration: none;
    padding: 0.8rem;
    background-color: #069;
    margin: 0.6rem;
    color: white;
    font-weight: bold;
    border-radius: 6px;
  }
  
  footer {
    margin-top: 5.5rem;
    text-align: center;
    color: rgb(58, 79, 173);
    font-weight: bold;
  }
  
  
  .pokemon-mew:hover , .pokemon-pikachu:hover, .pokemon-charmander:hover, .pokemon-caterpie:hover, .pokemon-ekans:hover, .pokemon-rapidash:hover, .pokemon-snorlax:hover {
    background-color: #0095f5;
    transition: 0.6s;
  }
  
  .poke-estilo {
    font-size: 1.2rem;
    color: seashell;
    text-align: center;
  }
  
  .poke-estilo-span {
    color: seashell;
    padding: 5px;
    padding-right: 9px;
    padding-left: 15px;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.2);
    font-size: 1rem;
  }
  
  .button-random:hover {
    background-color:rgb(160, 95, 95)
  }
}

body {
  background: rgba(147, 160, 182, 0.2)
}

h1 {
  text-align: center;
  margin: 1.2rem auto;
  color: seashell;
  background-color: rgb(49, 103, 173);
  border-radius: 15px;
  padding: 1rem;
  width: 22rem;
}

img {
  height: 160px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemons-geral {
  border: 5px solid rgb(255, 255, 255);
  width: 26rem;
  box-shadow: 3px 3px 8px 3px rgba(128, 46, 114, 0.5);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5rem auto;
  text-align: center;
  border-radius: 2rem;
  background-color: rgba(88, 64, 175, 0.5);
}

.pokemons {
  text-align: center;
  margin-top: 3rem;
}

.pokemon-mew , .pokemon-pikachu, .pokemon-charmander, .pokemon-caterpie, .pokemon-ekans, .pokemon-rapidash, .pokemon-snorlax{
  text-decoration: none;
  padding: 0.8rem;
  background-color: #069;
  margin: 0.3rem;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

footer {
  margin-top: 5.5rem;
  text-align: center;
  color: rgb(58, 79, 173);
  font-weight: bold;
}


.pokemon-mew:hover , .pokemon-pikachu:hover, .pokemon-charmander:hover, .pokemon-caterpie:hover, .pokemon-ekans:hover, .pokemon-rapidash:hover, .pokemon-snorlax:hover {
  background-color: #0095f5;
  transition: 0.6s;
}

.poke-estilo {
  font-size: 1.2rem;
  color: seashell;
  text-align: center;
}

.poke-estilo-span {
  color: seashell;
  padding: 5px;
  padding-right: 9px;
  padding-left: 15px;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.2);
  font-size: 1rem;
}

.button-random:hover {
  background-color:rgb(160, 95, 95)
}
